/* Universal Style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}
/* Mobile Css */
/* hamburg */
.arrow {
  position: absolute;
  right: 40px;
  display: none;
}
.mobile-image {
  display: none;
}
.mobile-menu {
  display: none;
}
/* top Nav bar Style */
.header {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 10vh;
  padding: 0 90px;
  /* background-color: blueviolet; */
  justify-content: space-between;
  /* border: 2px dotted black; */
  /* z-index: 2; */
  /* position: relative; */
  position: sticky;
}
.list-bar > li {
  display: inline;
  margin-left: 30px;
}

.list-bar li a {
  text-decoration: none;
  color: hsl(233, 8%, 62%);
}
.list-bar li a:hover {
  color: black;
  padding-bottom: 10px;
  border-bottom: 3px solid hsl(136, 65%, 51%);
}
.requst-button {
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
  height: 30px;
  width: 120px;
  border-radius: 30px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  color: white;
}

/* main Body first Div  */

.main-div {
  background-color: hsl(0, 0%, 98%);
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-height: 90vh;
}
.para {
  text-align: start;
  width: 26%;
  align-self: center;
  margin-left: 90px;
  margin-bottom: 40px;
}

.chid-div {
  display: flex;
  box-sizing: border-box;
}

/* image box */
.image {
  width: 70vw;
  height: 104vh;
  background-image: url("./images/image-mockups.png"),
    url("./images/bg-intro-desktop.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top right, top right;
  background-position-y: 80%, 100%;
  background-position-x: 130%, 180%;
  background-size: 72% 120%, 85% 150%;
}
.second-div {
  background-color: hsl(220, 16%, 96%);
  display: flex;
  flex-direction: column;
  padding: 0 90px;
}

.child-div-heading {
  font-size: 32px;
  margin-bottom: 15px;
  font-weight: bold;
}

.child-div-para {
  margin-bottom: 15px;
}
/* Section second cards */
.cards {
  display: flex;
  margin-top: 12vh;
  justify-content: space-around;
  flex-wrap: wrap;
}
.heading-second {
  margin-top: 15vh;
  width: 50%;
}
.qustion {
  font-size: 32px;
}
.answer {
  margin-top: 12px;
  font-size: 15px;
  color: hsl(233, 8%, 62%);
}
.first-card,
.second-card,
.third-card,
.forth-card {
  min-height: 200px;
  width: 200px;
}

.online-image,
.simple-image,
.fast-image,
.open-image {
  width: 60px;
  height: 60px;
}
.card-first-heading,
.card-second-heading,
.card-third-heading,
.card-forth-heading {
  font-size: 18px;
  margin: 10px 0;
}
.card-forth-para,
.card-third-para,
.card-second-para,
.card-first-para {
  font-size: 12px;
  color: hsl(233, 8%, 62%);
}

/* Blog Section */
.third-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.artical-card {
  margin: 0 90px 80px;
  display: flex;
}
.artical-card img {
  width: 160px;
  height: 140px;
  margin-bottom: 15px;
}
.artical {
  margin: 30px 0 30px 90px;
  font-size: 30px;
  font-weight: 300;
}
.writer {
  font-size: 10px;
  color: hsl(233, 8%, 62%);
  margin-bottom: 10px;
  text-align: start;
  padding: 0 0 0 60px;
}
.first-artical,
.second-artical,
.third-artical,
.forth-artical {
  text-align: center;
  /* border: 1px solid black; */
  margin: 0 20px 10px 0;
  background-color: hsl(220, 16%, 96%);
  border-radius: 10px;
}
.heading {
  font-size: 15px;
  text-align: start;
  padding: 0 30px 0 50px;
  font-weight: 200;
  margin-bottom: 10px;
}
.para-1 {
  font-size: 12px;
  text-align: start;
  padding: 0 20px 0 50px;
  margin-bottom: 10px;
  color: hsl(233, 8%, 62%);
}
.heading:hover {
  color: hsl(192, 70%, 51%);
  cursor: pointer;
}

/* Footer line */
.footer {
  background-color: hsl(233, 26%, 24%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  min-height: 25vh;
  /* position: relative; */
}

.footer-logo > img {
  width: 160px;
  min-height: 85px;
}
.social-logo img {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.social-logo {
  padding: 0 0 0 10px;
}
.bottom-list-1 ul li a,
.bottom-list-2 ul li a {
  text-decoration: none;
  color: white;
  font-size: 12px;
}
.bottom-list-1 ul li,
.bottom-list-2 ul li {
  list-style-type: none;
}
.btton-rigts p {
  margin-top: 20px;
  font-size: 10px;
  color: hsl(233, 8%, 62%);
}

.bottom-list-1 ul li a:hover,
.bottom-list-2 ul li a:hover {
  color: hsl(192, 70%, 51%);
}
svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}

svg:hover path {
  fill: hsl(192, 70%, 51%);
}

/* For Mobile Version */
@media (max-width: 600px) {
  .list-bar,
  #top-button {
    display: none;
  }
  .child-div-heading {
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .para {
    padding: 0;
    margin: 0;
  }
  .child-div-para {
    text-align: center;
  }
  .arrow {
    display: block;
  }
  .artical-card {
    /* margin: 0 90px; */
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .footer {
    display: flex;
    flex-direction: column;
  }
  .btton-rigts,
  .bottom-list-2,
  .bottom-list-1,
  .social-logo,
  .footer-logo {
    margin-bottom: 10px;
    text-align: center;
  }
  .artical-card img {
    width: 70%;
    margin-top: 2%;
  }
  .cards {
    text-align: center;
  }
  .heading-second {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 70%;
    padding: 0;
    margin: 15% 0 0 0;
  }
  #main-btn {
    margin: 0 0 0 20%;
  }
  .second-div {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .image {
    display: none;
  }
  .chid-div {
    display: flex;
    flex-direction: column;
  }
  .para {
    width: 60%;
    margin-left: 30px;
    padding-bottom: 30px;
  }
  .mobile-image {
    display: block;
    height: 300px;
    width: 100%;
    background-image: url("./images/image-mockups.png"),
      url("./images/bg-intro-mobile.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: center, top right;
    background-size: 70%, 100%;
    background-position-y: 90%, 60%;
    background-position-x: 30%, 0;
  }
  .mobile-menu {
    /* display: block; */
    position: absolute;
    background-color: aliceblue;
    width: 80%;
    right: 10%;
    opacity: 95%;
    box-shadow: 5px 5px 10px gray;
    margin-top: 20px;
    border-radius: 10px;
  }
  .mobile-list-bar li a {
    text-decoration: none;
    font-size: 22px;
    color: black;
    /* text-align: center; */
  }
  .mobile-list-bar li {
    list-style-type: none;
    text-align: center;
    padding-bottom: 10px;
  }
  .qustion {
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .answer {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: start;
  }
  .logo-image {
    padding: 0;
    margin: 0;
  }
  .header {
    padding: 5%;
  }
  /* Third Section */
  .third-section {
    margin: 0;
    padding: 0;
  }
  .first-artical,
  .second-artical,
  .third-artical,
  .forth-artical {
    margin: 0 5% 5% 5%;
  }
}
